
///
///
///
/// normal spinner
///
///

.showbox {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  margin: 50px auto;

}
#logo {
  text-align: center;
  width: 70%;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 50%;
  margin-top: -50px;
  .a {
    animation-name: rollIn;
    animation-duration: 2s;
    transform-origin: 50%;
  }
  .o {
    animation-name: rollInO;
    animation-duration: 2s;
  }
  .smile {
    animation-name: fillIn;
    animation-duration: 2s;
    animation-delay: 2s;
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration: 1;
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes rollInO {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 0, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}


// #wrapper{
//     position:relative;
//     height:100%;
// }

// .profile-main-loader{
//     left: 50% !important;
//     margin-left:-100px;
//     position: fixed !important;
//     top: 50% !important;
//     margin-top: -100px;
//     width: 45px;
//     z-index: 9000 !important;
// }

// .profile-main-loader .loader {
//   position: relative;
//   margin: 0px auto;
//   width: 200px;
//   height:200px;
// }
// .profile-main-loader .loader:before {
//   content: '';
//   display: block;
//   padding-top: 100%;
// }

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #7fba23;
  }
  40% {
    stroke: #7fba23;
  }
  66% {
    stroke: #7fba23;
  }
  80%, 90% {
    stroke: #7fba23;
  }
}
@keyframes color {
  0% {
    stroke: #7fba23;
  }
  40% {
    stroke: #7fba23;
  }
  66% {
    stroke: #7fba23;
  }
  80%, 90% {
    stroke: #7fba23;
  }
}
